/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
  padding: 0;
  margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

@font-face {
    font-family:Heineken;
    src: url('./fonts/heineken-core-bold.ttf');
}

.visually-hidden {
  clip:rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #ffff;
  background-color: rgba(0, 0, 0, 0.616);
  padding:1em;
}

nav{
  /* order: 1; */
  position: fixed;
  top:0; 
  bottom:0;
  left:0;
  right:0;
  translate: 100% 0;
  transition: 0.4s;
  background-color: #13410B;
}

nav.is-open {
  translate: 0 0;
}

nav button {
  /* sluit button */
  /* moet mee scalen */ 
}

nav ul {
  list-style: none;
}

header img {
	max-width: 4em;
	max-height: 2em;
}

button {
  margin-left: 18em;
}

main button {
  position:fixed;
  translate: 53em 13em;
  z-index:10; 
}

#heinekenafb1,
#heinekenafterwork,
#eersteslok,
#zwartwitheineken,
#facebooklogo,
#instagramlogo,
#youtubelogo,
#enjoyresponsiblylogo {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;
}



#heinekenbiertje {
  width: 80%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;

}


#heinekensilver {
  width: 80%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;

}


#heineken00fles {
  width: 80%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;

}





#bierbrouwerij {
  width: 100%;
  max-width: 100;
  height: 22em;
  display: block;
  margin: 1em 0;


}






footer {
  background-color: #13410B;
  color: #eee;
}


#verhaal-lijst li {
  position: relative;
  overflow:clip;

}


#verhaal-lijst li div {
  position:absolute;
  bottom:1em;
  left:1em;
  background-color: rgba(19, 65, 11, 0.8); 
  color: #fff;
  padding:5em 2em;
 
}


#verhaal-lijst li img {
  display:block;
  transition: .5s;
}


#verhaal-lijst li:hover img {
  scale:1.2;
}

/* #verhaal-lijst li:nth-of-type(2)::before {
  content: "";
  position: absolute;
  inset:1rem;
  inset: 0;
  background-color: rgba(19, 65, 11, 0.8); 
} */


/* #verhaal-lijst li:nth-of-type(2) .overlay-tekst {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  text-align: center;
  color: #fff;
  font-family: Heineken, sans-serif;
  z-index: 1; 
  padding: 1rem;
} */


#zwartwitheineken {
  display: block;
}


/* #verhaal-lijst li:nth-of-type(3) {
  position: relative;
} */


/* #verhaal-lijst li:nth-of-type(3)::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(19, 65, 11, 0.8); 
  padding-left: 1em;
  overflow: hidden;
} */





/* #verhaal-lijst li:nth-of-type(3) .overlay-tekst {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  text-align: center;
  color: #fff;
  font-family: Heineken, sans-serif;
  z-index: 1; 
  padding: 1rem;


} */

/* #slideshow1{
  max-width: 1000px;
  position: relative;
  margin: auto;


  
} */

section:nth-of-type(1) ul{

position: relative;
display:flex;
overflow:auto;
scroll-snap-type:x mandatory;
scroll-behavior:smooth;
  /* zodat je niet per ongeluk 'back' scrollt */
overscroll-behavior-x:contain;
  
gap:1em;

  /* dunne scrollbar met een kleur */
scrollbar-width:thin;
scrollbar-color:#f09 transparent;


}


section:nth-of-type(1)ul{


}

section:nth-of-type(1) li{
position: absolute;
flex-basis:100%;
flex-shrink:0;
scroll-snap-align:center;
}


section:nth-of-type(2) li{ 
position: absolute;
flex-basis:100%;
flex-shrink:0;
scroll-snap-align:center;
}


section:nth-of-type(3) li{
position: absolute;
flex-basis:100%;
flex-shrink:0;
scroll-snap-align:center;
}


.producten {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 1em;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}


@media (max-width: 600px) {
  .product {
    flex-direction: row;       
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .product-tekst {
    flex: 1;
    max-width: none;
  }

  .product img {
    width: 35%;
    max-width: 140px;     
    margin: 0;
  }
}

#hetorigineel

{  font-size: 2rem;              /* groter */
  color: #00843D;               /* Heineken-groen */
  font-family: Heineken, sans-serif;
  margin-bottom: 0.5em;
}

#heineken00biertje
{
 font-size: 2rem;              /* groter */
  color: #1B4677;               /* Heineken-groen */
  font-family: Heineken, sans-serif;
  margin-bottom: 0.5em;
}

#heinekensilverblik{

 font-size: 2rem;              /* groter */
  color: #646464;               /* Heineken-groen */
  font-family: Heineken, sans-serif;
  margin-bottom: 0.5em;
}





